@font-face {
  font-family: Thronefall;
  src: url('cssassets/UnifrakturCook-Bold.ttf');
}

body {
  background-color: #1c1c1c;
}

h1 {
    color: #c8a675;
}

nav {

}

nav > button {

}

button {
  border-width: 1px;
  border-style: solid;
  border-color: #c8a675;
  border-radius: 4px;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0);
  color: #c8a675;
}

button:hover {
  border-color: #ffe7c4;
  color: #ffe7c4;
  transition: 500ms;
}

#header {

}

#level-selected {

}

.highscores {

}

.verified {
  color: #ffe7c4;
}

.unverified {
  color: #ffe7c4;
}

.numbers {
  font-family: Thronefall;
}
